<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <title>MercadoLiebre</title>

    <!--google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!--templates-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!--styles-->
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <!--HEADER-->
    <header>
        <div class="header">
            <div class="top-nav">
                <img src="images/logo-mercado-liebre.svg" alt="logo" class="logo">
                <div class="search-bar">
                    <input type="text" name="" id="" placeholder="Buscar." size="18">
                    <button type="submit" class="submit-header"><i class="fas fa-search"></i></button>
                </div>
                <div class="nav-subtitle">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p>Compra en cuotas y tarjeta de credito</p>
                </div>
            </div>

            <nav class="nav-options">
                <ul class="page-box">
                    <li> <a href="#">Ofertas</a></li>
                    <li> <a href="#">Tiendas Oficiales</a></li>
                    <li> <a href="#">Vender</a></li>
                    <li> <a href="#">Ayuda</a></li>
                </ul>
                <ul class="user-box">
                    <li> <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li> <a href="/login">Ingresa<i class="fas fa-key"></i></a></li>
                    <li> <a href="#">Carrito<i class="fas fa-cart-arrow-down"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <!--MAIN-->

    <main>
        <img src="images/img-home-banner.jpg" alt="img" class="banner">

        <h3 class="discounts-title">Basado en tu última visita</h3>
        <section class="main-section">

            <div class="product">
                <div class="image-product">
                    <img src="images/img-cafetera-moulinex.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$6.770</p>
                        <p class="price-2">40% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>Cafetera Moulinex</p>
                </div>
            </div>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$230.000</p>
                        <p class="price-2">20% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>MacBook Pro 2019</p>
                </div>
            </div>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$70.500</p>
                        <p class="price-2">10% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>Samsung Galaxy S10</p>
                </div>
            </div>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$23.200</p>
                        <p class="price-2">5% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>SmartTv Samsung 43"</p>
                </div>
            </div>
        </section>

        <h3 class="discounts-title">Ofertas</h3>
        <section class="main-section">

            <div class="product">
                <div class="image-product">
                    <img src="images/img-cafetera-moulinex.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$6.770</p>
                        <p class="price-2">40% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>Cafetera Moulinex</p>
                </div>
            </div>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$230.000</p>
                        <p class="price-2">20% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>MacBook Pro 2019</p>
                </div>
            </div>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$70.500</p>
                        <p class="price-2">10% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>Samsung Galaxy S10</p>
                </div>
            </div>

            <div class="product">
                <div class="image-product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="img">
                </div>

                <div class="product-info">
                    <div class="product-discount">
                        <p class="price-1">$23.200</p>
                        <p class="price-2">5% off</p>
                    </div>
                    <div class="total-sale">
                        <div class="first-circle">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                    </div>
                </div>
                <div class="product-name">
                    <p>SmartTv Samsung 43"</p>
                </div>
            </div>
        </section>
    </main>

    <!--FOOTER-->

    <footer>
        <div class="footer-main">

            <div class="section-footer-1">
                <div class="icon">
                    <i class="fas fa-wallet"></i>
                </div>

                <div class="titulo-footer">
                    <p>Pagá con tarjeta o en efectivo</p>
                </div>

                <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</span>

            </div>

            <div class="section-footer-2">
                <div class="icon">
                    <i class="fas fa-user-circle"></i>

                </div>

                <div class="titulo-footer">
                    <p>Envío gratis desde $ 2.500</p>
                </div>

                <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</span>

            </div>

            <div class="section-footer-3">
                <div class="icon">
                    <i class="fas fa-street-view"></i>
                </div>

                <div class="titulo-footer">
                    <p>Seguridad, de principio a fin</p>
                </div>
                <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</span>
            </div>
        </div>
        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>

</html>