<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nashe</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <form action="/procesar_formulario" method="post" enctype="multipart/form-data" class="form">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
    
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required><br>
    
        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required><br>
    
        <label for="usuario">Nombre de Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br>
    
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>
    
        <label for="tipo_usuario">Tipo de Usuario:</label>
        <input type="radio" id="vendedor" name="tipo_usuario" value="vendedor" required>
        <label for="vendedor">Vendedor</label>
        <input type="radio" id="comprador" name="tipo_usuario" value="comprador" required>
        <label for="comprador">Comprador</label><br>
    
        <label for="categorias">Categorías de Interés:</label><br>
        <input type="checkbox" id="electro" name="categorias" value="Electro">
        <label for="electro">Electro</label><br>
        <input type="checkbox" id="moda" name="categorias" value="Moda">
        <label for="moda">Moda</label><br>
        <input type="checkbox" id="hogar" name="categorias" value="Hogar">
        <label for="hogar">Hogar</label><br>
        <input type="checkbox" id="jugueteria" name="categorias" value="Juguetería">
        <label for="jugueteria">Juguetería</label><br>
        <input type="checkbox" id="vida_sana" name="categorias" value="Vida sana">
        <label for="vida_sana">Vida Sana</label><br>
    
        <label for="foto_usuario">Foto de Usuario:</label>
        <input type="file" id="foto_usuario" name="foto_usuario"><br>
    
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br>
    
        <label for="confirmar_contrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required><br>
    
        <input type="submit" value="Enviar">
      </form>
</body>
</html>