:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde:#39b54a;

    --text-color: #9f9f9f;
    --cuerpos: 18px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;

    --border-products: 1px solid #ebebeb; 
    /* #ebebeb */
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--amarillo);
    font-family: 'Roboto', sans-serif;
}

img{
    height: 100%;
    width: 100%;
}

/* header */

.logo{
    width: 50vw;
}

nav {
    display: none;
}

.nav-subtitle {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-subtitle i {
    margin-right: 3px;
}

li a i {
    margin-left: 3px;
}

.user-box{
    margin-top: 10px;
}

.burger-menu{
    display: flex;
    justify-content: center;
}

.burger-menu i {
    background-color: var(--celeste);
    padding: 10px;
    border-radius: 4px;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

header {
    font-size: var(--descripciones);
    margin-bottom: 30px;
}

.top-nav {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-bar {
    display: flex;
    margin-left: 10px;
}

.search-bar input {
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 10px 10px;
}

.search-bar button {
    background-color:transparent;
    border:0;
    position: relative;
    left: -20px;
    cursor: pointer;
    z-index: 1;
}

.search-bar button::after{
    content: "";
    position: relative;
    left: -20px;
    border-left: 1px solid var(--gris_oscuro);
    
}

.submit-header{
    margin: 0px;
    padding: 0px;
}

.nav-options {
    display: none;
}

.page-box,
.user-box{
    list-style: none;
}

.page-box li,
.user-box li {
    margin: 0px 3px;
}

/* main */

.banner {
    height: 100%;
    width: 100%;
}

.discounts-section{
    width: 90vw;

}

main{
    background-color: var(--gris_claro);
    padding-bottom: 20px;
}

.main-section{
    width: 90vw;
    margin: auto;
}

.product{
    margin: 5px;
}

.product:hover {
    background-color: #fff;
    margin: 10px 10px;
    padding:10px 15px;
    grid: 5px;
    transition: 0.3s;
}

.image-product img {
    border-bottom: var(--border-products);
}

.product-name p{
    text-align: center;
}

.product-info{
    display: flex;
    justify-content: space-between;
}

.first-circle{
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid var(--verde);
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.first-circle i {
    color: var(--verde);
}

.first-circle i:hover{
    rotate: -90deg;
    transition: all 0.5s;
}

.total-sale {
    position: relative;
    top: -24px;
    left: 0px;
    background-color: white;

}

.product-name{
    display: none;
    margin-top: 2px;
    font-size: var(--cuerpos);
    color: var(--text-color);
}

.discounts-title {
    margin-left: 5vw;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: var(--titulares);
    color: var(--text-color);
}

.price-1{
    padding-top: 5px;
    font-size: var(--precios);
}

.price-2 {
    margin-left: 10px;
    color: var(--verde);
    font-size: var(--descuentos);
}

.product-discount {
    display: flex;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
}

/* footer */

footer{
    margin-top: 50px;
    padding-top: 10px;
    background-color: var(--gris_claro);
}

.titulos-footer{
    display: flex;
   margin: auto;
}

.footer-main{
    display: flex;
}

 .section-footer-1, .section-footer-2, .section-footer-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} 

.icon{
    font-size: var(--titulares);
    display: contents;
    flex-direction: column;
}

.icon i {
    font-size: 1.5em;
    color: var(--celeste);
}

.section-footer-1, .section-footer-2, .section-footer-3{
    display: flex;
    align-items: center;
    text-align: center;
}

.copyright {
    margin-top: 30px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }

    .main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product {
        max-width: 40vw;
    }

    .product-name {
        display: block;
    }

    .nav-options{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        font-size: 12px;
        margin-top: 5px;
    }

    .page-box,
    .user-box{
        display: flex;
}
}

@media screen and (min-width: 769px){
    .product {
        max-width: 20vw;
    }

    .main-section {
        flex-wrap: nowrap;
    }

    .logo {
        max-width: 30vw;
    }

    .top-nav {
        justify-content: space-around;
    }

    .search-bar input {
        width: 25vw;
    }

    .nav-options {
        margin-top: 10px;
        font-size: 14px;
    }
    .page-box li,
    .user-box li{
        margin: 0px 10px;
    }
}